/* Write your CSS here */
.welcome-container {
  background-color: #1e293b;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f0bb03;
  font-size: 52px;
  font-weight: bold;
  font-family: 'Bree Serif';
}
.paragraph {
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
  font-family: 'Bree Serif';
}
.button {
  color: #1e293b;
  border-width: 0px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Bree Serif';
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
